In [ ]:
def greetings():
    print("Hello, Python!")

greetings()

In [3]:
def Basic_Arithmetic():
    a = float(input("Enter your number a "))
    b = float(input("Enter your number b "))
    
    print(a+b, "addition")
    print(a-b, "subtraction")
    print(a*b, "multiplication")
    print(a/b, "division")
    
Basic_Arithmetic()

Enter your number a  2
Enter your number b  2

4.0 addition
0.0 subtraction
4.0 multiplication
1.0 division

In [17]:
def String_Manipulation():
    name = input("input your name ")
    print("Hello,", name)
String_Manipulation()

input your name  hi

Hello, hi

In [19]:
universities = ["Harvard University", "Stanford University", "MIT", "Oxford University", "Cambridge University"]

print("List of universities:", universities)

print("First university:", universities[0])
print("Last university:", universities[-1])

List of universities: ['Harvard University', 'Stanford University', 'MIT', 'Oxford University', 'Cambridge University']
First university: Harvard University
Last university: Cambridge University

In [43]:
#5
def Dictionaries():
    students = {
        "John Doe": {"age": 20, "grade": 8},
        "Jane Smith": {"age": 22, "grade": 7},
        "Emily Davis": {"age": 19, "grade": 9},
        "Michael Johnson": {"age": 21, "grade": 5},
        "Sophia Brown": {"age": 23, "grade": 6}
    }

    
    student_names = list(students.keys())

    for i in range(len(student_names)):
        name = student_names[i]
        details = students[name]  
        #print(details)
        print(f"Student Name: {name}")
        print(f"Age: {details['age']}, Grade: {details['grade']}")
        print() 
        
Dictionaries()

Student Name: John Doe
Age: 20, Grade: 8

Student Name: Jane Smith
Age: 22, Grade: 7

Student Name: Emily Davis
Age: 19, Grade: 9

Student Name: Michael Johnson
Age: 21, Grade: 5

Student Name: Sophia Brown
Age: 23, Grade: 6

In [ ]:
#6
coordinates = (4, 7)

print("Coordinates:", coordinates)

print("X value:", coordinates[0]) 
print("Y value:", coordinates[1])

In [ ]:
#7
colors = {"red", "green", "blue"}

colors.add("yellow")
print(colors)

colors.add("red")
print(colors)


colors.remove("green")
print(colors)

light_colors = {"pink", "light blue", "light green"}

merged_colors = colors.union(light_colors)
print("Merged set of colors and light_colors:", merged_colors)

In [ ]:
#8
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

In [ ]:
#9
numbers = [1, 2, 3, 4, 5]


for number in numbers:
    print(number)

In [47]:
#10
numbers = [1, 2, 3, 4, 5]

# Use a for loop to iterate through the list
for number in numbers:
    if number == 5:
        print("Terminating loop as number is 5")
        break 
    print(number)

1
2
3
4
Terminating loop as number is 5

In [ ]:
#11
grade = input("Enter a grade (A, B, C, D, F): ").upper()

match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Invalid input. Please enter a valid grade (A, B, C, D, F).")

In [ ]:
#12
def greet(name):
    print(f"Hello, {name}!")

# Call the function with your own name
greet("John")  # Replace "John" with your own name

In [ ]:
#13
def square(number):
    return number * number  

print(square(2))   
print(square(5))  
print(square(10))

In [ ]:
#14
def multiply(a, b=1):
    return a * b  


print(multiply(4, 5)) 
print(multiply(7))

In [49]:
#15
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use list comprehension to create a new list of squares
squares = [number * number for number in numbers]

# Print the new list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#16
students = {
    "John": [85, 90, 78],
    "Jane": [92, 88, 95],
    "Emily": [75, 80, 82],
    "Michael": [89, 85, 91],
    "Sophia": [100, 98, 99]
}

def print_average_grades(students):
    for student, grades in students.items():
        #print(student, grades)
        average_grade = sum(grades) / len(grades)  
        print(f"{student}'s average grade: {average_grade:.2f}") 

print_average_grades(students_grades)

John's average grade: 84.33
Jane's average grade: 91.67
Emily's average grade: 79.00
Michael's average grade: 88.33
Sophia's average grade: 99.00

In [24]:
#17
def calculate(num1, num2, operator):
    if operator == "+":
        return num1 + num2
    elif operator == "-":
        return num1 - num2
    elif operator == "*":
        return num1 * num2
    elif operator == "/":
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero."
    else:
        return "Invalid operator."

number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")

result = calculate(number1, number2, operator)
print(f"The result is: {result}")

Enter the first number:  5
Enter the second number:  5
Enter an operator (+, -, *, /):  +

The result is: 10.0